* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.header-class {
  display: flex;
  justify-content: space-around;
  margin-top: 62px;
  align-items: center;
  color: #758bfd;
  font-family: "Ubuntu";
}
.header-ul {
  display: flex;
  gap: 50px;
  font-size: 24px;
  font-weight: 500;
}
.header-class h1 {
  font-size: 30px;
  font-weight: 700;
  margin-left: -40px;
}
.bolder {
  color: #27187f;
}
.search-icon {
  width: 221px;
  height: 55px;
  border: 3px solid #27187f;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.search-icon img {
  padding-right: 9px;
  height: 39.09340286254883px;
  width: 39.07048416137695px;
  padding-top: 6px;
}
.main-container {
  background-color: #ddeaf8;

  height: 1051px;
  margin-top: 61px;
  font-family: "Ubuntu";
}
.main-container h1 {
  color: #27187f;
  font-size: 32px;
  font-weight: 700;
  padding-top: 94px;
  padding-left: 98px;
}
.section1 {
  padding-top: 68px;
  display: flex;
  justify-content: space-around;
}
.article {
  width: 400px;
  height: 333px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  color: #133b3a;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section2 {
  padding-top: 51px;
  display: flex;
  justify-content: space-around;
}
.footer-main-container {
  background-color: #758bfd;
  height: 504px;
  font-family: "Nanum Gothic";
}
.footer-flex {
  display: flex;
}
.footer-info-uls {
  padding-top: 75px;
  display: flex;
}
.footer-info-ul {
  color: white;
}
.info-footer {
  padding-top: 75px;
  padding-left: 98px;
}
.info-footer p {
  line-height: 19px;
  font-size: 18px;
  color: white;
}
.span-blue {
  color: #00cad7;
}
.footer-info-ul {
  display: flex;
  gap: 24px;
  padding-top: 16px;
}
.footer-trending {
  padding-left: 233.23px;
}
.footer-trending h1 {
  color: #00cad7;
  font-size: 20px;
  font-weight: 400;
}
.footer-trending ul {
  color: white;
  font-size: 13px;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-information {
  padding-left: 236px;
}
.footer-information h1 {
  color: #00cad7;
  font-size: 20px;
  font-weight: 400;
}
.footer-information ul {
  color: white;
  font-size: 13px;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-customercare {
  padding-left: 245px;
}
.footer-customercare h1 {
  color: #00cad7;
  font-size: 20px;
  font-weight: 400;
}
.footer-customercare ul {
  color: white;
  font-size: 13px;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment-info ul {
  padding-top: 104px;
  padding-right: 98px;
  display: flex;
  justify-content: end;
  gap: 11px;
  align-items: center;
}
.background {
  height: 55px;
  width: 97px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
